<!doctype html>
<html>
  <head><meta charset="utf-8"><title>EC2 Fleet Automation</title></head>
  <body>
    <h1>NGINX configured by Ansible ✅</h1>
    <p>Host: {{ inventory_hostname }}</p>
    <p>IP: {{ ansible_host }}</p>
    <p>Date: {{ ansible_date_time.iso8601 }}</p>
  </body>
</html>
